log:
  level: INFO
providers:
  docker:
    exposedByDefault: false
  file:
    directory: '/etc/traefik/dynamic'
    watch: false
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  tcp:
    address: ":1337"
