<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{challenge.name}} auth</title>
</head>
<body>
    <script>
        (function () {
            const challengeName = {{ challenge.name|tojson }};
            {% if token %}
                localStorage.token = {{ token|tojson }};
                window.location = '/challenges/' + encodeURIComponent(challengeName);
            {% else %}
                const authBase = {{ auth_platform_url|tojson }};
                const redirectUri = encodeURIComponent(window.location.href.split('?')[0]);
                const state = encodeURIComponent(challengeName);
                window.location = authBase.replace(/\/$/, '') + '/auth?redirect_uri=' + redirectUri + '&state=' + state;
            {% endif %}
        })();
    </script>
</body>
</html>